<h1>My Stock</h1>

<% for stock in @stocks %>
<p>Name: <%= stock.name %> <%=stock.category %> </p>
<p>Designer: <%= stock.designer %> </p>
<p>Price <%= stock.price %> </p>
<p>Size: <%= stock.size %> </p>
<p><a href="/stocks/<%= stock.id %>">Show Stock</a></p>

<p></div>
<form action="/stocks/<%= stock.id %>/delete" method="DELETE">
    <input class="btn" type="submit" value="remove" />
  </form>
  <hr />
</p>
</div>
<% end %>
