<h1>My Stock</h1>

<% for stock in @stocks %>
<p>Name: <%= stock.name %> <%=stock.category %> </p>
<p>Designer: <%= stock.designer %> </p>
<p>Price <%= stock.price %> </p>
<p>Size: <%= stock.size %> </p>
<p><a href="/stock/<%= stock.id %>">Show Stock</a></p>

<% end %>
