<div>
  <h1>My Customers</h1>

  <h3><a href="/customers/new">Add new customer</a></h3>

  <% for customer in @customers %>

  <div class="card">
    <p>Name: <%= customer.forename %> <%=customer.surname %></p>

    <p>Dress Size: <%= customer.dress_size %></p>

    <p><a href="/customers/<%= customer.id %>">More Details</a></p>

    <form
      action="/customers/<%= customer.id %>/delete"
      method="DELETE">
      <input
        class="button"
        type="submit"
        value="Remove"/>
    </form>
  </div>

  <% end %>
</div>
