<div>
<h1>My Customers</h1>

<% for customer in @customers %>
<p>Name: <%= customer.forename %> <%=customer.surname %> </p>
<p>Dress Size: <%= customer.dress_size %> </p>
<p><a href="/customers/<%= customer.id %>">Show Rentals</a></p>

<p>
<form action="/customers/<%= customer.id %>/delete" method="DELETE">
    <input class="btn" type="submit" value="remove" />
  </form>
  <hr />
</p>
</div>
<% end %>
